
.head-content{
    font-size: 36px;
    text-transform: capitalize;
    line-height: 36px;
    color: var(--text);
    text-align: center;
    font-weight: 700;
}
.list-type{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 50px;
}
.list-type > div{
    width:130px;
    height: 76px;
    border-color: #ededed;
    
    margin-right: 10px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: #ededed;
}
.name-type > span {
    color: var(--text);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.list-type > div:hover{
    background-color: var(--primary);
}


.container-item{
    width: 100%;
    height:230px;
    display: flex;
    margin: auto;
    border-radius:30px;
    border: 1px solid;
    border-color: #ededed;
    position: relative;

}
.image-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.des-item{
    width: 55%;
    display: flex;
    align-items: center;
}

.namefood{
    color:var(--text);
    font-size: 24px;
    font-weight:600;
    margin-left: 5px;
    cursor: pointer;
}
.item-detail > p{
    margin: 5px 0 10px 5px;
    color: var(--grey-dark);
}
.price{
    margin-left: 5px;
    color: var(--primary);
    font-size: 20px;
    font-weight:600;
}
.des-icon{
    display: flex;
    align-items: end;
    width: 40px;
 }
.icon-add{
    margin-bottom: 20px;
    background-color: #ffc222;
    width: 40px;
    height: 40px;
    
    border-radius: 16px;
    /* bottom: 10px; */
    /* right: 10px; */
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.icon-add:hover{
    color: white;
    background-color: var(--primary-dark);
}
.rating{
    margin-top: 5px;
}


@media screen and (max-width: 760px){
    .container-item{
        display: block;
        height: 100%;
    }   
    .des-item{
        align-items: center;
        justify-content: center;
    }
    .item-detail{
        margin-left: 20px;
    }
    .des-icon{
        margin-left: 20px;
        margin-top: 10px;
        width: 100%;
    }
    .icon-add{
        width: 90%;
    }
}
@media screen and (max-width: 500px){
    .list-type{
        display: block;
    } 
    .list-type > div{
        width: 100%;
    }
}

.active_type{
    background-color: var(--primary);
}